@import url("https://use.typekit.net/rnb6mqu.css");

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #0E3240;
    color: #F9FCF3;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

.logo img {
    height: 50px;
    width: auto;
    transition: background-color 0.5s ease;
}

.name {
    font-size: 24px;    
    margin-left: 80px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 80px; 
}

nav ul li a {
    color: #F9FCF3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}


a {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F9FCF2;
}

h3 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F9FCF3;
}

img {
    display: block;
    width: 100%;
}

.logo img {
    height: 90px;
}

.name {
    font-size: 24px;
}

#headliners .grid-container {
    grid-template-columns: 1fr 1fr;
    transition: background-color 0.5s ease;
}

#headliners:hover {
    background-color: rgba(26, 80, 1, 0.24);
}

#headliners img {
    width: 90%;
    border: 10px solid white;
}

#lineup img {
    border: 10px solid white;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    text-align: center;
}

nav ul {

    list-style: none;

    display: flex;

}

nav li {

    margin-left: 20px;

}

nav a {

    color: white;

    text-decoration: none;

}

nav a:hover {

    color: gray;

}

body {
    background-image: url("Fotos/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #0E3240;
    color: #F9FCF3;
    justify-content: space-between;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: bold;
}

a {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F9FCF3;
}

img {
    display: block;
    width: 100%;
}

.name {
    font-size: 24px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-card {
    text-align: center;
}


nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: gray;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

body {
    background-image: url("Fotos/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: -200 px;
    background-position: 0px -400px;
}

footer {
    color: #F9FCF3;
    padding: 20px;
    text-align: center;
    z-index: 1;
    position: relative;
}

h2 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
}

.white-bar {
    height: 1px;
    background-color: white;
    margin: 10px 0;
}

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sponsors-row img {
    width: 15%;
    height: auto;
}

.copyright {
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    margin-top: 20px;
}

#sponser img {
    aspect-ratio: 1 / 1;
    object-fit: auto;
}

.sponsors-row2 img {
    width: 5%;
    height: auto;
}

.sponsors-row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.white-bar2 {
    height: 0.5px;
    background-color: white;
    margin: 5px 0;
}

.sponsors2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponser2 {
    color: #F9FCF3;
    padding: 20px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.container {
    width: 650px;
    height: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #87A59A;
    padding: 20px;
  }

.foto-rechthoek {
    width: 100%;
    text-align: center;
  }

  .foto-rechthoek img {
    max-width: 100%;
    height: auto;
  }

  .container .foto-rechthoek img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.container .foto-rechthoek img:hover {
    transform: scale(1.1);
}

  .text {
    margin-top: 10px;
    text-align: center;
  }

  .top-left {
    position: absolute;
    top: 120px;
    left: 320px;
    text-align: left;
  }
  
  .top-left h1 {
    font-family: roboto, sans-serif;
    font-style: bold;
    font-size: 20px;
    color: #FFFFFF;
  }

  .top-left h4 {
    font-family: roboto, sans-serif;
    font-style: bold;
    font-size: 16px;
    color: #C7D6B9;
  }

  .video-container {
    width: 100%;
    height: 315px;
    margin-top: 20px;
  }

  header input#burger {
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 1rem 1ch;
    background-color: var(--bgc-02);
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}

@media (width <=750px) {
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }
}
  
@keyframes slidein {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }

.logo {
    animation: 1s linear 5s slidein;
    animation-iteration-count: 1;
    animation-duration: 750ms;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

